.designation-container {
  padding: 20px;

  .header h4 {
    margin: 0;
  }

  .btn {
    font-size: 14px;
    padding: 6px 12px;
  }

  table {
    font-size: 14px;

    th, td {
      vertical-align: middle;
    }
  }
}
