<div class="designation-container">
    <div class="header d-flex justify-content-between align-items-center mb-3">
        <h4>Allowance Title</h4>
        <div>
            <button class="btn btn-primary">➕ Add New Allowance Title</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th>S#</th>
                    <th>Name</th>
                    <th>Added On</th>
                    <th>Modified On</th>
                    <th>Is Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let designation of designations; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ designation.name }}</td>
                    <td>
                        {{ designation.addedOn }}<br>
                        <small>By {{ designation.addedBy }}</small>
                    </td>
                    <td>
                        {{ designation.modifiedOn || '--' }}<br>
                        <small *ngIf="designation.modifiedBy">By {{ designation.modifiedBy }}</small>
                    </td>
                    <td>
                        <i
                            [ngClass]="designation.isAmount ? 'bi bi-check-circle-fill text-success' : 'bi bi-x-circle-fill text-danger'"></i>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                [id]="'dropdownMenuButton' + i" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + i">
                                <li><a class="dropdown-item" href="#" (click)="editDesignation(designation)">Edit</a>
                                </li>
                            </ul>
                        </div>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>