
<div class="mat-app-background" style="display: flex; height: 100vh;">
  <!-- Sidebar -->
  <mat-nav-list style="min-width: 250px; height: 100vh; overflow-y: auto;">
    <mat-list-item class="mat-subheading">
      <h5 style="color: white;">System Logs</h5>
    </mat-list-item> <br>
    <mat-divider></mat-divider>
    <a mat-list-item 
       *ngFor="let item of menuItems" 
       [routerLink]="item.path"
       routerLinkActive="active-link">
      {{ item.name }}
    </a>
  </mat-nav-list>

  <!-- Main Content -->
  <div style="flex: 1; padding: 16px; overflow: auto;">
    <router-outlet></router-outlet>
  </div>
</div>