<div class="mat-container">
 <div class="header-container" style="display: flex; justify-content: space-between; align-items: center;">
  <h4>Manage Region</h4>
  <button mat-flat-button color="primary" (click)="openAddRegionDialog()">Add New Region</button>
</div>

  <div *ngIf="isLoading" class="loading-container">
    Loading regions...
  </div>

  <div class="table-container" *ngIf="!isLoading && paginator">
    <table mat-table [dataSource]="pagedItems" class="mat-elevation-z8 mat-table">
      <!-- Serial Number Column -->
      <ng-container matColumnDef="sr">
        <th class="heading" mat-header-cell *matHeaderCellDef>Sr#</th>
        <td mat-cell *matCellDef="let region; let i = index">
          {{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="heading" mat-header-cell *matHeaderCellDef>Region Name</th>
        <td mat-cell *matCellDef="let region">
          {{ region.name }}
        </td>
      </ng-container>

      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <th class="heading" mat-header-cell *matHeaderCellDef>Region Code</th>
        <td mat-cell *matCellDef="let region">
          {{ region.code }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th class="heading" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let region">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="material-symbols-outlined">more_vert</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewDetails(region)">
              <i class="material-symbols-outlined">visibility</i>
            </button>
             <button mat-menu-item (click)="openDeleteConfirmationDialog(region)">
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="footer-container" *ngIf="!isLoading">
    <div class="records-info">
      Showing {{ regions.length > 0 ? (paginator.pageIndex * paginator.pageSize) + 1 : 0 }} - 
      {{ Math.min((paginator.pageIndex + 1) * paginator.pageSize, regions.length) }} 
      of {{ regions.length }} records
    </div>
    
    <mat-paginator [length]="regions.length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="pageChanged($event)"
                  aria-label="Select page">
    </mat-paginator>
  </div>
</div>