<div class="mat-container">
  <div class="header-container">
    <h4>Manage Bank Branch</h4>
  </div>

  <div *ngIf="isLoading" class="loading-container">
    Loading bank branches...
  </div>

  <div class="table-container" *ngIf="!isLoading && paginator">
    <table mat-table [dataSource]="pagedItems" class="mat-elevation-z8 mat-table">
      <!-- Serial Number Column -->
      <ng-container matColumnDef="sr">
        <th class="heading" mat-header-cell *matHeaderCellDef>Sr#</th>
        <td mat-cell *matCellDef="let branch; let i = index">
          {{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="heading" mat-header-cell *matHeaderCellDef>Branch Name</th>
        <td mat-cell *matCellDef="let branch">
          {{ branch.name }}
        </td>
      </ng-container>

      <!-- Bank Name Column -->
      <ng-container matColumnDef="employerBankName">
        <th class="heading" mat-header-cell *matHeaderCellDef>Bank Name</th>
        <td mat-cell *matCellDef="let branch">
          {{ branch.employerBankName }}
        </td>
      </ng-container>

      <!-- City Name Column -->
      <ng-container matColumnDef="cityName">
        <th class="heading" mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let branch">
          {{ branch.cityName }}
        </td>
      </ng-container>

      <!-- Branch Number Column -->
      <ng-container matColumnDef="branchNumber">
        <th class="heading" mat-header-cell *matHeaderCellDef>Branch Number</th>
        <td mat-cell *matCellDef="let branch">
          {{ branch.branchNumber }}
        </td>
      </ng-container>

      <!-- Account Number Column -->
      <ng-container matColumnDef="accountNumber">
        <th class="heading" mat-header-cell *matHeaderCellDef>Account Number</th>
        <td mat-cell *matCellDef="let branch">
          {{ branch.accountNumber }}
        </td>
      </ng-container>

      <!-- Account Name Column -->
      <ng-container matColumnDef="accountName">
        <th class="heading" mat-header-cell *matHeaderCellDef>Account Name</th>
        <td mat-cell *matCellDef="let branch">
          {{ branch.accountName }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th class="heading" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let branch">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="material-symbols-outlined">more_vert</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewDetails(branch)">
              <i class="material-symbols-outlined">visibility</i>
            </button>
            <button mat-menu-item (click)="exportBankBranch(branch)">
              <i class="material-symbols-outlined">download</i>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="footer-container" *ngIf="!isLoading">
    <div class="records-info">
      Showing {{ bankBranches.length > 0 ? (paginator.pageIndex * paginator.pageSize) + 1 : 0 }} - 
      {{ Math.min((paginator.pageIndex + 1) * paginator.pageSize, bankBranches.length) }} 
      of {{ bankBranches.length }} records
    </div>
    
    <mat-paginator [length]="bankBranches.length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="pageChanged($event)"
                  aria-label="Select page">
    </mat-paginator>
  </div>
</div>