<mat-card class="welcome-card mb-25 border-radius d-block bg-primary-500 border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-content>
        <div class="content">
            <h5 class="fw-semibold text-white">
                Faizan Mukhtar <span>(C-00001)</span>
            </h5>
            <p>
                Director Cofounder
            </p>
            <button mat-raised-button>My info</button>
            <mat-divider class="custom-divider"></mat-divider>
            <div class="d-md-flex align-items-center">
                <div class="item d-flex align-items-center">
                    <div
                        class="icon text-primary bg-primary-50 border-radius d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            cake
                        </i>
                    </div>
                    <div>
                        <span class="title d-block fw-semibold text-white">
                            No Birthday today
                        </span>
                        <!-- <span class="d-block">
                            Awaiting processing
                        </span> -->
                    </div>
                </div>
                <div class="item d-flex align-items-center">
                    <div
                        class="icon text-primary bg-primary-50 border-radius d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            event
                        </i>
                    </div>
                    <div>
                        <!-- <span class="title d-block fw-semibold text-white">
                            35 Products
                        </span> -->
                        <span class="d-block title fw-semibold text-white">
                            No Work Anniversary Today
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="images/DefaultEmployeeImage.png" alt="welcome-image">
        </div>
    </mat-card-content>
</mat-card>