<div class="mat-container">
 <div class="header-container" style="display: flex; justify-content: space-between; align-items: center;">
  <h4>Manage Area</h4>
  <button mat-flat-button color="primary" (click)="openAddAreaDialog()">Add New Area</button>
</div>

  <div *ngIf="isLoading" class="loading-container">
    Loading areas...
  </div>

  <div class="table-container" *ngIf="!isLoading && paginator">
    <table mat-table [dataSource]="pagedItems" class="mat-elevation-z8 mat-table">
      <!-- Serial Number Column -->
      <ng-container matColumnDef="sr">
        <th class="heading" mat-header-cell *matHeaderCellDef>Sr#</th>
        <td mat-cell *matCellDef="let area; let i = index">
          {{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="heading" mat-header-cell *matHeaderCellDef>Area Name</th>
        <td mat-cell *matCellDef="let area">
          {{ area.name }}
        </td>
      </ng-container>

      <!-- City Name Column -->
      <ng-container matColumnDef="cityName">
        <th class="heading" mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let area">
          {{ area.cityName }}
        </td>
      </ng-container>

      <!-- Province Name Column -->
      <ng-container matColumnDef="provinceName">
        <th class="heading" mat-header-cell *matHeaderCellDef>Province</th>
        <td mat-cell *matCellDef="let area">
          {{ area.provinceName }}
        </td>
      </ng-container>

      <!-- Country Name Column -->
      <ng-container matColumnDef="countryName">
        <th class="heading" mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let area">
          {{ area.countryName }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th class="heading" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let area">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="material-symbols-outlined">more_vert</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewDetails(area)">
              <i class="material-symbols-outlined">visibility</i>
            </button>
            <button mat-menu-item (click)="exportArea(area)">
              <i class="material-symbols-outlined">download</i>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="footer-container" *ngIf="!isLoading">
    <div class="records-info">
      Showing {{ areas.length > 0 ? (paginator.pageIndex * paginator.pageSize) + 1 : 0 }} - 
      {{ Math.min((paginator.pageIndex + 1) * paginator.pageSize, areas.length) }} 
      of {{ areas.length }} records
    </div>
    
    <mat-paginator [length]="areas.length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="pageChanged($event)"
                  aria-label="Select page">
    </mat-paginator>
  </div>
</div>