<div class="card">
  <div class="top-section">
    <img src="/images/DefaultEmployeeImage.png" alt="User" class="user-image">
    <div class="info-text">
      <h3>Faizan Mukhtar<span class="code">(C-00001)</span></h3>
      <p class="role">Director Cofounder</p>
      <a class="info-link">
        <i class="material-symbols-outlined">info</i> My Info
      </a>
    </div>
  </div>

  <div class="bottom-section">
    <div class="birthday">
      <i class="material-symbols-outlined">cake</i>
      <p>No Birthday Today</p>
    </div>
    <div class="anniversary">
      <i class="material-symbols-outlined">event</i>
      <p>No Work Anniversary Today</p>
    </div>
  </div>
</div>
