<div class="mat-container">
 <div class="header-container" style="display: flex; justify-content: space-between; align-items: center;">
  <h4>Manage Employee Bank</h4>
  <button mat-flat-button color="primary" (click)="openAddEmployeeBankDialog()">Add New Employee Bank</button>
</div>

  <div class="table-container" *ngIf="isTableReady">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mat-table">
      <!-- Serial Number Column -->
      <ng-container matColumnDef="sr">
        <th class="heading" mat-header-cell *matHeaderCellDef mat-sort-header>Sr#</th>
        <td mat-cell *matCellDef="let bank; let i = index">
          {{ (pageIndex * pageSize) + i + 1 }}
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th class="heading" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let bank">
          {{ bank.id }}
        </td>
      </ng-container>

      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <th class="heading" mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
        <td mat-cell *matCellDef="let bank">
          {{ bank.code }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="heading" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let bank">
          {{ bank.name }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th class="heading" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let bank">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="material-symbols-outlined">more_vert</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewDetails(bank)">
              <i class="material-symbols-outlined">visibility</i>
            </button>
            <button mat-menu-item (click)="exportLog(bank)">
              <i class="material-symbols-outlined">download</i>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>